/export/build/
/export/dist/
/export/nbproject/private/
/HelloWorld/build/
/HelloWorld/dist/
/HelloWorld/nbproject/private/
/Login/build/generated-sources
/Login/build/classes
/Login/build/empty
/Login/build/built-jar.properties
/Login/nbproject/private/private.xml
/Login/dist/Login.jar
/FXMLExample/build/built-jar.properties
/FXMLExample/build/classes/fxmlexample/FXMLExample.class
/FXMLExample/build/classes/fxmlexample/FXMLExampleController.class
/FXMLExample/build/classes/fxmlexample/Login.css
/FXMLExample/build/classes/fxmlexample/background.jpg
/FXMLExample/build/classes/fxmlexample/fxml_example.fxml
/ColorfulCircles/nbproject/private/
/ColorfulCircles/dist/
/ColorfulCircles/build/
/FXMLExample/nbproject/private/private.xml
