/export/build/
/export/dist/
/export/nbproject/private/
/HelloWorld/build/
/HelloWorld/dist/
/HelloWorld/nbproject/private/
/Login/build/generated-sources
/Login/build/classes
/Login/build/empty
/Login/build/built-jar.properties
/Login/nbproject/private/private.xml
/Login/dist/Login.jar
/FXMLExample/build/built-jar.properties
/FXMLExample/build/classes/fxmlexample/FXMLExample.class
/FXMLExample/build/classes/fxmlexample/FXMLExampleController.class
/FXMLExample/build/classes/fxmlexample/Login.css
/FXMLExample/build/classes/fxmlexample/background.jpg
/FXMLExample/build/classes/fxmlexample/fxml_example.fxml
/ColorfulCircles/nbproject/private/
/ColorfulCircles/dist/
/ColorfulCircles/build/
/FXMLExample/nbproject/private/private.xml
/JavaFX_8_book/chap02/ChangingTextFonts/nbproject/private/
/JavaFX_8_book/chap02/DrawingLines/nbproject/private/
/JavaFX_8_book/chap02/DrawingShapes/nbproject/private/
/JavaFX_8_book/chap02/DrawingText/nbproject/private/
/JavaFX_8_book/chap02/PaintingColors/nbproject/private/
/JavaFX_8_book/chap02/ChangingTextFonts/build/
/JavaFX_8_book/chap02/ChangingTextFonts/dist/
/JavaFX_8_book/chap02/DrawingLines/build/
/JavaFX_8_book/chap02/DrawingLines/dist/
/JavaFX_8_book/chap02/DrawingShapes/dist/
/JavaFX_8_book/chap02/DrawingShapes/build/
/JavaFX_8_book/chap02/DrawingText/build/
/JavaFX_8_book/chap02/DrawingText/dist/
/JavaFX_8_book/chap02/PaintingColors/dist/
/JavaFX_8_book/chap02/PaintingColors/build/
/JavaFX_8_book/chap03/FormValidation/nbproject/private/
/JavaFX_8_book/chap03/FormValidation/build/
/JavaFX_8_book/chap03/FormValidation/dist/
/JavaFX_8_book/chap03/FormValidation/nbproject/jfx-impl_backup_1.xml
/JavaFX_8_book/chap04/GridPaneForm/nbproject/private/
/JavaFX_8_book/chap04/GridPaneForm/build/
/JavaFX_8_book/chap04/GridPaneForm/dist/